<div class="container m-5">
 <h3>Conversations</h3>
 <div class="list">
  <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    <div class="conversation">
      <div class="conversation-content">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <%= link_to recipient.email, conversation_messages_path(conversation)%>
      </div>
    </div>
   <% end %>
  <% end %>
  </div>
 </div>
</div>


<div class="container m-5">
 <h3>All Users</h3>
  <div class="list">
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class="conversation">
        <div class="conversation-content d-flex align-items-center">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <p><%= user.email %></p>
          <%= button_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>
 <% end %>
 </div>
</div>
