.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 15px;
}

.nav-link {
  margin-bottom: 0;
}

.navbar-toggler {
  background-color: white;
}

.navbar a, .navbar h1 {
  color: white;
}

.navbar a:hover {
  color: rgb(139, 139, 139);
}


.dropdown-menu a {
  color: black;
}
