.navbar-lewagon {
  justify-content: space-between;
  background: black;
  // position: fixed;
  // width: 100%;
  // z-index: 2;
  padding-top: 13px;
  padding-bottom: 13px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 15px;
}

.nav-link {
  margin-bottom: 0;
}

.navbar-toggler {
  background-color: white;
}

.navbar a, .navbar h1 {
  color: white;
}

.navbar a:hover {
  color: rgb(139, 139, 139);
}


.dropdown-menu a {
  color: black;
}

// NAVBAR MAIN //

.navbar h1 {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-left: 20px;
}

.navbar-lewagon .navbar-photo img {
  width: 39px;
  height: 36px;
  border-radius: 50%;
}

.navbar-icons a {
  margin: 10px;
}
