.profile-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-photo img {
  width: 250px;
  height: 200px;
  border-radius: 20%;
}

.profile i, .profile h1, .profile p {
  color: white;
}
