.registration-form {
  margin: 6vw auto;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

.registration-form .form-control {
  background-color: white;
}

.registration-form .form-check-input {
  background-color: white;
}
