.registration-form {
  margin: 6vw auto;
  margin-top: 6vw;
  margin-bottom: 6vw;
  padding-right: 20px;
  padding-left: 20px;
}

.registration-form .form-control {
  background: rgba(217, 217, 217, 0.5) !important;
  border-color: #ffffff00 !important;
  color: #ffffff;
  border-radius: 15px;
}

// .registration-form .form-check-input {
//   background-color: white;
// }

.registration-form .form-select {
  background: rgba(217, 217, 217, 0.5) !important;
  border-color: #ffffff00 !important;
  color: #ffffff;
  border-radius: 15px;
}

label  {
  color: white;
}

.form-control, .form-select {
  border-radius: 6px;
  // margin-bottom: 30px;
}

// .form-label {
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 34px;
// }

.form-check-label {
  margin-bottom: 40px;
}

.edit-profile .user_photo {
  position: absolute;
  top: 171px !important;
  right: 13px !important;
}

.edit-profile .user_description {
  margin: 0;
  margin-bottom: 1rem !important;
}
